* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  
}




p {
  color: hsl(229, 6%, 66%);
  font-weight: 200;
}

h3 {
  font-weight: 600;
  color: hsl(234, 12%, 34%);
  font-size: 2rem;
}
h4 {
  font-weight: 600;
}
.container {
  padding: 2rem;
  text-align: center;
  
  
  
  
}

.top {
  display: flex;
  flex-direction: column;
  gap: .2rem;
}

.bottom {
  padding: 4rem;
  display: flex;
  gap: 2rem;
  align-items: center;
}





.column {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}



.calculator {
  border-top: 4px solid hsl(212, 86%, 64%);
  box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);

  width: 400px;
  height: 300px;
  border-radius: 10px;
  padding: 2rem;
  text-align: start;
  position: relative;
}
.teambuilder {
  border-top: 4px solid hsl(0, 78%, 62%);
  box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
  width: 400px;
  height: 300px;
  border-radius: 10px;
  padding: 2rem;
  text-align: start;
  position: relative;
}



.karma {
  border-top: 4px solid hsl(34, 97%, 64%);
  box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
  width: 400px;
  height: 300px;
  border-radius: 10px;
  padding: 2rem;
  text-align: start;
  position: relative;
}
.supervisor {
  border-top: 4px solid hsl(180, 62%, 55%);
  box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
  width: 400px;
  height: 300px;
  border-radius: 10px;
  padding: 2rem;
  text-align: start;
  position: relative;
}




img {
    position: absolute;
    right: 2rem;
    bottom: 2rem;
}